{% extends "layout.html" %}
{% block content %}
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

<script type="text/javascript">
   $(document).ready(function() {
     $("#{{post.id}}_like").click(function() {
       var number = $('#{{post.id}}_like_result').text();
       var dislikecount = $('#{{post.id}}_dislike_result').text();
       var post_id = "{{ post.id }}";
       $.ajax({
          url: "{{ url_for('posts.like') }}",
          data: {'number': number,'dislikecount':dislikecount,'post_id':post_id},
          method: 'POST',
          success: function(data) {
            $('#{{post.id}}_like_result').html(data['result'])
            $('#{{post.id}}_dislike_result').html(data['dislikecount'])
            if (data['color'] == "Green")
            {
            $('#{{post.id}}_like').removeClass("btn-outline-primary").addClass("btn-primary");
            $('#{{post.id}}_dislike').removeClass("btn-danger").addClass("btn-outline-danger");
          }else{
            $('#{{post.id}}_like').removeClass("btn-primary").addClass("btn-outline-primary");
          }}
        });
     });
   });
    </script>
    <script type="text/javascript">
       $(document).ready(function() {
         $("#{{post.id}}_dislike").click(function() {
           var number = $('#{{post.id}}_dislike_result').text();
           var likecount = $('#{{post.id}}_like_result').text();
           var post_id = "{{ post.id }}";
           $.ajax({
              url: "{{ url_for('posts.dislike') }}",
              data: {'number': number,'likecount':likecount,'post_id':post_id},
              method: 'POST',
              success: function(data) {
                $('#{{post.id}}_dislike_result').html(data['result'])
                $('#{{post.id}}_like_result').html(data['likecount'])
                if (data['color'] == "Green")
                {
                $('#{{post.id}}_dislike').removeClass("btn-outline-danger").addClass("btn-danger");
                $('#{{post.id}}_like').removeClass("btn-primary").addClass("btn-outline-primary");

              }else{
                $('#{{post.id}}_dislike').removeClass("btn-danger").addClass("btn-outline-danger");
              }}
            });
         });
       });
        </script>

  <article class="media content-section">
    <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}">
    <div class="media-body">
      <div class="article-metadata">
        <a class="mr-2" href="{{ url_for('users.user_posts', username=post.author.username) }}">{{ post.author.username }}</a>
        <small class="text-muted">{{ post.date_posted.strftime('%Y-%m-%d') }}</small>
        {% if post.author == current_user %}
          <div>
            <a style="float:right;" class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('posts.update_post', post_id=post.id) }}">Update</a>
            <button style="float:right;" type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#deleteModal">Delete</button>
          </div>
        {% endif %}
      </div>
      <h2 class="article-title">{{ post.title }}</h2>
      {% if post.post_image != 'None' %}
        <img src="{{ url_for('static', filename='profile_pics/' + post.post_image) }}" style="float:center;width:100%;height:100%;object-fit:cover;">
      {% endif %}
      {% if post.find_links(post.content) %}
        <iframe width="560" height="315" src="https://www.youtube.com/embed/{{post.embed_link(post.content)}}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      {% endif %}
      <p class="article-content">{{ post.content }}</p>

      {% if current_user.is_authenticated %}

        {% if post.check_liked(current_user.id,post.id) %}
        <button class="btn btn-primary" id='{{post.id}}_like'><ion-icon name="thumbs-up" size="medium"></ion-icon>  Like: <span id="{{post.id}}_like_result">{{post.likes_count}}</span></button>
        {% else %}
        <button class="btn btn-outline-primary" id='{{post.id}}_like'><ion-icon name="thumbs-up" size="medium"></ion-icon>  Like: <span id="{{post.id}}_like_result">{{post.likes_count}}</span></button>
        {% endif %}
        {% if post.check_disliked(current_user.id,post.id) %}
        <button style="float:right;" class="btn btn-danger" id='{{post.id}}_dislike'><ion-icon name="thumbs-down" size="medium"></ion-icon>  Dislike:     <span id="{{post.id}}_dislike_result">{{post.dislikes}}</span></button>
        {% else %}
        <button style="float:right;" class="btn btn-outline-danger" id='{{post.id}}_dislike'><ion-icon name="thumbs-down" size="medium"></ion-icon>  Dislike: <span id="{{post.id}}_dislike_result">{{post.dislikes}}</span></button>
        {% endif %}

      {% else %}

        <a href="{{ url_for('users.login') }}"><button class="btn btn-outline-primary"><ion-icon name="thumbs-up" size="medium"></ion-icon>  Like:     <span>{{post.likes_count}}</span></button></a>
        <a href="{{ url_for('users.login') }}"><button style="float:right;" class="btn btn-outline-danger"><ion-icon name="thumbs-down" size="medium"></ion-icon>  Dislike:     <span>{{post.dislikes}}</span></button></a>

      {% endif %}
    </div>
  </article>
  <!-- Modal -->
 <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
   <div class="modal-dialog" role="document">
     <div class="modal-content">
       <div class="modal-header">
         <h5 class="modal-title" id="deleteModalLabel">Delete Post?</h5>
         <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           <span aria-hidden="true">&times;</span>
         </button>
       </div>
       <div class="modal-footer">
         <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
         <form action="{{ url_for('posts.delete_post', post_id=post.id) }}" method="POST">
           <input class="btn btn-danger" type="submit" value="Delete">
         </form>
       </div>
     </div>
   </div>
 </div>

  <h1>Comments ({{ comments.total }})</h1>

  {% for comment in comments.items %}
  <script type="text/javascript">
     $(document).ready(function() {
       $("#{{comment.id}}_comment_like").click(function() {
         var number = $('#{{comment.id}}_comment_like_result').text();
         var dislikecount = $('#{{comment.id}}_comment_dislike_result').text();
         var comment_id = "{{ comment.id }}";
         $.ajax({
            url: "{{ url_for('posts.like_comment') }}",
            data: {'number': number,'dislikecount':dislikecount,'comment_id':comment_id},
            method: 'POST',
            success: function(data) {
              $('#{{comment.id}}_comment_like_result').html(data['result'])
              $('#{{comment.id}}_comment_dislike_result').html(data['dislikecount'])
              if (data['color'] == "Green")
              {
              $('#{{comment.id}}_comment_like').removeClass("btn-outline-primary").addClass("btn-primary");
              $('#{{comment.id}}_comment_dislike').removeClass("btn-danger").addClass("btn-outline-danger");
            }else{
              $('#{{comment.id}}_comment_like').removeClass("btn-primary").addClass("btn-outline-primary");
            }}
          });
       });
     });
      </script>
      <script type="text/javascript">
         $(document).ready(function() {
           $("#{{comment.id}}_comment_dislike").click(function() {
             var number = $('#{{comment.id}}_comment_dislike_result').text();
             var likecount = $('#{{comment.id}}_comment_like_result').text();
             var comment_id = "{{ comment.id }}";
             $.ajax({
                url: "{{ url_for('posts.dislike_comment') }}",
                data: {'number': number,'likecount':likecount,'comment_id':comment_id},
                method: 'POST',
                success: function(data) {
                  $('#{{comment.id}}_comment_dislike_result').html(data['result'])
                  $('#{{comment.id}}_comment_like_result').html(data['likecount'])
                  if (data['color'] == "Green")
                  {
                  $('#{{comment.id}}_comment_dislike').removeClass("btn-outline-danger").addClass("btn-danger");
                  $('#{{comment.id}}_comment_like').removeClass("btn-primary").addClass("btn-outline-primary");

                }else{
                  $('#{{comment.id}}_comment_dislike').removeClass("btn-danger").addClass("btn-outline-danger");
                }}
              });
           });
         });
          </script>
      <article class="media content-section">
        <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + comment.author.image_file) }}">
        <div class="media-body">
          <div class="article-metadata">
            <a class="mr-2" href="{{ url_for('users.user_posts', username=post.author.username) }}">{{ comment.author.username }}</a>
            <small class="text-muted">{{ comment.date_posted.strftime('%Y-%m-%d') }}</small>
            {% if comment.author == current_user %}
              <div style="float:right;">
                <button style="font-size:12px;" type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#deleteModalComment">Delete</button>
              </div>
            {% endif %}
          </div>

          <!-- Modal -->
         <div class="modal fade" id="deleteModalComment" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
           <div class="modal-dialog" role="document">
             <div class="modal-content">
               <div class="modal-header">
                 <h5 class="modal-title" id="deleteModalLabel">Delete Comment?</h5>
                 <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                   <span aria-hidden="true">&times;</span>
                 </button>
               </div>
               <div class="modal-footer">
                 <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                 <form action="{{ url_for('posts.delete_comment',comment_id=comment.id,post_id=comment.post_id) }}" method="POST">
                   <input class="btn btn-danger" type="submit" value="Delete">
                 </form>
               </div>
             </div>
           </div>
         </div>
          {% if comment.comment_image != 'None' %}
          <a data-toggle="modal" data-target="#{{comment.id}}"><img src="{{ url_for('static', filename='profile_pics/' + comment.comment_image) }}" style="float:center;width:100%;height:100%;object-fit:cover;"/></a>
                    <div id="{{comment.id}}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                          <div class="modal-content">
                              <div class="modal-body">
                                  <img src="{{ url_for('static', filename='profile_pics/' + comment.comment_image) }}" style="float:center;width:100%;height:100%;object-fit:cover;" class="img-responsive">
                              </div>
                          </div>
                        </div>
                    </div>
          {% endif %}
          {% if comment.find_links(comment.content) %}
            <iframe width="560" height="315" src="https://www.youtube.com/embed/{{post.embed_link(comment.content)}}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
          {% endif %}
          <p class="article-content">{{ comment.content }}</p>
          {% if current_user.is_authenticated %}

            {% if comment.check_liked(current_user.id,comment.id) %}
            <button class="btn btn-primary" id='{{comment.id}}_comment_like'><ion-icon name="thumbs-up" size="medium"></ion-icon>  Likes: <span id="{{comment.id}}_comment_like_result">{{comment.likes_count}}</span></button>
            {% else %}
            <button class="btn btn-outline-primary" id='{{comment.id}}_comment_like'><ion-icon name="thumbs-up" size="medium"></ion-icon>  Likes: <span id="{{comment.id}}_comment_like_result">{{comment.likes_count}}</span></button>
            {% endif %}
            {% if comment.check_disliked(current_user.id,comment.id) %}
            <button style="float:right;" class="btn btn-danger" id='{{comment.id}}_comment_dislike'><ion-icon name="thumbs-down" size="medium"></ion-icon>  Dislikes:     <span id="{{comment.id}}_comment_dislike_result">{{comment.dislikes}}</span></button>
            {% else %}
            <button style="float:right;" class="btn btn-outline-danger" id='{{comment.id}}_comment_dislike'><ion-icon name="thumbs-down" size="medium"></ion-icon>  Dislikes: <span id="{{comment.id}}_comment_dislike_result">{{comment.dislikes}}</span></button>
            {% endif %}

          {% else %}

            <a href="{{ url_for('users.login') }}"><button class="btn btn-outline-primary"><ion-icon name="thumbs-up" size="medium"></ion-icon>  Likes:     <span>{{comment.likes_count}}</span></button></a>
            <a href="{{ url_for('users.login') }}"><button style="float:right;" class="btn btn-outline-danger"><ion-icon name="thumbs-down" size="medium"></ion-icon>  Dislikes:     <span>{{comment.dislikes}}</span></button></a>

          {% endif %}
        </div>
      </article>
  {% endfor %}

  {% for page_num in comments.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
    {% if page_num %}
      {% if comments.page == page_num %}
        <a class="btn btn-info mb-4" href="{{ url_for('posts.post',post_id=post.id, page=page_num) }}">{{ page_num }}</a>
      {% else %}
        <a class="btn btn-outline-info mb-4" href="{{ url_for('posts.post',post_id=post.id, page=page_num) }}">{{ page_num }}</a>
      {% endif %}
    {% else %}
      ...
    {% endif %}
  {% endfor %}
  <div class="content-section">
      <form method="POST" action="" enctype="multipart/form-data">
          {{ form.hidden_tag() }}
          <fieldset class="form-group">
              <legend class="border-bottom mb-4">{{ legend }}</legend>
              <div class="form-group">
                  {{ form.content.label(class="form-control-label") }}
                  {% if form.content.errors %}
                      {{ form.content(class="form-control form-control-lg is-invalid") }}
                      <div class="invalid-feedback">
                          {% for error in form.content.errors %}
                              <span>{{ error }}</span>
                          {% endfor %}
                      </div>
                  {% else %}
                      {{ form.content(class="form-control form-control-lg") }}
                  {% endif %}
              </div>
              <div class="form-group">
                  Attach an image
                  {{ form.picture(class="form-control-file") }}
                  {% if form.picture.errors %}
                      {% for error in form.picture.errors %}
                          <span class="text-danger">{{ error }}</span></br>
                      {% endfor %}
                  {% endif %}
              </div>
          </fieldset>
          <div class="form-group">
              {{ form.submit(class="btn btn-outline-info") }}
          </div>
      </form>
  </div>
{% endblock content %}
